<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center font-weight-bold">
        Hello, <strong class="text-muted"> <%= user.name %> </strong>
      </h1>
      <p class="lead mt-4">
        <a href="/User/dashboard" class="btn btn-primary btn-block mb-2"
          >Dashboard</a
        >
      </p>
      <h1 class="mb-5">Instructors List</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Assigned Course</th>
          </tr>
        </thead>
        <tbody>
          <% instructors.forEach(instructor => { %>
          <tr>
            <td><%= instructor.name %></td>
            <td><%= instructor.role %></td>
            <td
              style="
                display: flex;
                flex-direction: column;
                align-items: start;
                text-align: start;
              "
            >
              <% if (instructor.Courses && instructor.Courses.length > 0) { %>
              <% instructor.Courses.forEach(assignedCourse => { %>
              <div style="display: flex; align-items: center">
                * <%= assignedCourse.courseName %> (<%= assignedCourse.courseCode
                %>)
              </div>
              <% }); %> <% } else { %> No Assigned Courses <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
